@model TrabalhoFinal.Models.Especialidade

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Detalhes da Especialidade</h1>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.IdEspecialidade">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
